/* Definisi warna yang digunakan */
:root {
    /* Variabel warna */
    --warna0: black;
    /* Warna text */
    --warna1: #22303F;
    /* Warna latar belakang */
    --warna2: #E7E8E7;
    /* Warna text 1 */
    --warna3: #8FBFDA;
    /* Warna text 2 */
    --warna4: #206485;
    /* Warna button latar belakang */
    --warna5: #394A56;
    /* Warna hover button latar belakang  */
    --warna6: white;
    /* Warna hover button latar belakang  */
}

/* slider section */
.slider {
    padding: 50px 0;
    /* Mengatur padding */
    max-width: 100vw;
    /* Mengatur lebar maksimum 100% dari viewport */
    height: 100vh;
    /* Tinggi slider 100% dari tinggi viewport */
    overflow: hidden;
    /* Menyembunyikan konten yang melampaui batas */
    position: relative;
    /* Menetapkan posisi relatif untuk item absolut di dalamnya */
}

.slider .list .item {
    width: 100%;
    /* Lebar item 100% dari slider */
    height: 100%;
    /* Tinggi item 100% dari slider */
    position: absolute;
    /* Posisi absolut untuk setiap item */
    inset: 0;
    /* Menetapkan semua sisi (atas, kanan, bawah, kiri) ke 0 */
}

.slider .list .item img {
    width: 100%;
    /* Lebar gambar 100% dari item */
    height: 100%;
    /* Tinggi gambar 100% dari item */
    object-fit: cover;
    /* Menutupi seluruh area item tanpa mengubah rasio */
}

.slider .list .item .content .text {
    padding: 20px;
    background: rgba(0, 0, 0, 0.5);
    /* Warna latar belakang dengan transparansi */
    backdrop-filter: blur(5px);
    /* Efek blur pada latar belakang */
    -webkit-backdrop-filter: blur(10px);
    /* Versi untuk browser Webkit */
    border-radius: 15px;
    /* Membuat sudut melengkung pada background */
    width: 80%;
    /* Lebar 80% dari item */
    height: 300px;
}

.slider .list .item .content {
    position: absolute;
    inset: 0;
    /* Atur inset ke 0 agar elemen content memenuhi seluruh item */
    display: flex;
    /* Gunakan flexbox */
    flex-direction: column;
    /* Atur arah flex ke kolom untuk mengatur elemen di bawah satu sama lain */
    align-items: center;
    /* Pusatkan elemen secara horizontal */
    justify-content: center;
    /* Pusatkan elemen secara vertikal */
    text-align: center;
    /* Pusatkan teks di dalam konten */
    color: var(--warna6);
    text-shadow: 0 5px 10px #000;
    font-size: 2rem;
    padding: 20px;
    /* Bisa diatur untuk memberi sedikit ruang */
    box-sizing: border-box;
    /* Ini akan memastikan bahwa padding tidak mempengaruhi lebar total elemen */

}



.slider .list .item .content .title {
    font-size: 5rem;
    /* Ukuran font */
    font-weight: bold;
    /* Ketebalan font */
    line-height: 1.3em;
    /* Tinggi garis */
    color: var(--warna3);
    /* Warna teks  */

}

.slider .list .item .button {
    display: flex;
    /* Gunakan Flexbox */
    justify-content: center;
    /* Pusatkan secara horizontal */
    align-items: center;
    /* Pusatkan secara vertikal */
    margin-top: 20px;
}

.slider .list .item .button a {
    padding: 10px 20px;
    /* Tambahkan padding untuk memberi lebih banyak ruang pada tombol */
    border: none;
    background-color: var(--warna4);
    font-weight: 500;
    cursor: pointer;
    transition: 0.5s;
    letter-spacing: 2px;
    border-radius: 0.5rem;
    color: var(--warna2);
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    /* Pastikan tombol berfungsi sebagai elemen inline */
}




.slider .list .item .button a:hover {
    letter-spacing: 3px;
    /* Jarak antar huruf bertambah saat dihover */
    background-color: var(--warna5);
    /* Warna latar belakang tombol */
    border-radius: 5rem;
    /* Membuat sudut  */
}


/* Animation Part */
.slider .list .item:nth-child(1) {
    z-index: 1;
    /* Z-index untuk item pertama */
}

/* animation text in first item */
.slider .list .item:nth-child(1) .content .title,
.slider .list .item:nth-child(1) .content .description,
.slider .list .item:nth-child(1) .content .buttons {
    transform: translateY(50px);
    /* Menggeser konten 50px ke bawah */
    filter: blur(20px);
    /* Blur konten */
    opacity: 0;
    /* Opasitas awal 0 */
    animation: showContent 0.5s 1s linear 1 forwards;
    /* Animasi tampil konten */
}

@keyframes showContent {
    to {
        transform: translateY(0px);
        /* Geser konten ke posisi awal */
        filter: blur(0px);
        /* Hapus blur */
        opacity: 1;
        /* Opasitas penuh */
    }
}

.slider .list .item:nth-child(1) .content .title {
    animation-delay: 0.4s !important;
    /* Penundaan animasi untuk judul */
}

.slider .list .item:nth-child(1) .content .description {
    animation-delay: 0.8s !important;
    /* Penundaan animasi untuk deskripsi */
}

.slider .list .item:nth-child(1) .content .buttons {
    animation-delay: 1s !important;
    /* Penundaan animasi untuk tombol */
}

/* Animation for next button click */
.slider.next .list .item:nth-child(1) img {
    width: 150px;
    /* Lebar gambar setelah klik tombol next */
    height: 220px;
    /* Tinggi gambar setelah klik tombol next */
    position: absolute;
    /* Posisi absolut */
    bottom: 50px;
    /* 50px dari bawah */
    left: 50%;
    /* 50% dari kiri */
    border-radius: 30px;
    /* Sudut melengkung */
    animation: showImage 0.5s linear 1 forwards;
    /* Animasi tampil gambar */
}

@keyframes showImage {
    to {
        bottom: 0;
        /* Posisikan gambar di bawah */
        left: 0;
        /* Posisikan gambar di kiri */
        width: 100%;
        /* Lebar gambar penuh */
        height: 100%;
        /* Tinggi gambar penuh */
        border-radius: 0;
        /* Sudut tidak melengkung */
    }
}

.slider.prev .list .item img {
    z-index: 100;
    /* Z-index untuk gambar item sebelumnya */
}

/* Animation for prev button click */
.slider.prev .list .item:nth-child(2) {
    z-index: 2;
    /* Z-index untuk item kedua */
}

.slider.prev .list .item:nth-child(2) img {
    animation: outFrame 0.5s linear 1 forwards;
    /* Animasi keluar frame */
    position: absolute;
    /* Posisi absolut */
    bottom: 0;
    /* Posisikan gambar di bawah */
    left: 0;
    /* Posisikan gambar di kiri */
}

@keyframes outFrame {
    to {
        width: 150px;
        /* Lebar gambar setelah keluar frame */
        height: 220px;
        /* Tinggi gambar setelah keluar frame */
        bottom: 50px;
        /* 50px dari bawah */
        left: 50%;
        /* 50% dari kiri */
        border-radius: 20px;
        /* Sudut melengkung */
    }
}


.slider.prev .list .item:nth-child(2) .content .title,
.slider.prev .list .item:nth-child(2) .content .description,
.slider.prev .list .item:nth-child(2) .content .buttons {
    animation: contentOut 1.5s linear 1 forwards !important;
    /* Animasi keluar konten */
}

@keyframes contentOut {
    to {
        transform: translateY(-150px);
        /* Geser konten 150px ke atas */
        filter: blur(20px);
        /* Blur konten */
        opacity: 0;
        /* Opasitas 0 */
    }
}