/* Definisi warna yang digunakan */
:root {
    /* Variabel warna */
    --warna0: black;
    /* Warna text */
    --warna1: #22303F;
    /* Warna latar belakang */
    --warna2: #E7E8E7;
    /* Warna text 1 */
    --warna3: #8FBFDA;
    /* Warna text 2 */
    --warna4: #206485;
    /* Warna button latar belakang */
    --warna5: #394A56;
    /* Warna hover button latar belakang  */
    --warna6: white;
    /* Warna hover button latar belakang  */
}

/* Gaya dasar FOOTER */
.FOOTER {
    padding: 30px 50px 10px 50px;
    box-shadow: 0 -5px 15px rgba(0, 0, 0, 0.6);
    /*bayangan*/
    display: flex;
    /* Mengatur FOOTER menggunakan flexbox */
    flex-wrap: wrap;
    /* Membuat item dalam FOOTER dapat membungkus ke baris baru jika diperlukan */
    justify-content: space-between;
    /* Menyebar item secara merata dengan ruang di antara mereka */
    position: relative;
    /* Mengatur posisi relatif untuk elemen FOOTER */
    overflow: hidden;
    /* Menyembunyikan konten yang meluap di luar batas FOOTER */
    background-color: var(--warna1);
    /* Warna latar belakang */
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1600 900'%3E%3Cpolygon fill='%23394a56' points='957 450 539 900 1396 900'/%3E%3Cpolygon fill='%23206485' points='957 450 872.9 900 1396 900'/%3E%3Cpolygon fill='%2349606f' points='-60 900 398 662 816 900'/%3E%3Cpolygon fill='%23295f7b' points='337 900 398 662 816 900'/%3E%3Cpolygon fill='%235a7688' points='1203 546 1552 900 876 900'/%3E%3Cpolygon fill='%232f5972' points='1203 546 1552 900 1162 900'/%3E%3Cpolygon fill='%236b8ea3' points='641 695 886 900 367 900'/%3E%3Cpolygon fill='%23345468' points='587 900 641 695 886 900'/%3E%3Cpolygon fill='%237da6be' points='1710 900 1401 632 1096 900'/%3E%3Cpolygon fill='%23374f5f' points='1710 900 1401 632 1365 900'/%3E%3Cpolygon fill='%238fbfda' points='1210 900 971 687 725 900'/%3E%3Cpolygon fill='%23394a56' points='943 900 1210 900 971 687'/%3E%3C/svg%3E");
    background-attachment: fixed;
    /* Menyebabkan gambar latar belakang tidak bergerak saat di-scroll */
    background-size: cover;
    /* Mengatur ukuran gambar latar belakang */
    transition: all 5s ease;
    /* Transisi halus untuk perubahan posisi gambar */
    color: var(--warna2);
    /* Warna teks */
}

.FOOTER:hover {
    background-color: var(--warna3);
    /* Mengubah warna latar belakang saat di-hover */
    color: var(--warna0);
    /* Mengubah warna teks saat di-hover */

}

/* Gaya logo di dalam FOOTER */
.FOOTER .logo {
    margin-bottom: 90px;
    /* Margin bawah untuk logo */
}

.FOOTER .Teras-Merapi {
    width: 300px;
    /* Lebar logo */
}

/* Tata letak kolom di dalam FOOTER */
.FOOTER .kotak {
    display: flex;
    /* Menggunakan flexbox untuk kolom */
    flex-direction: column;
    /* Menyusun item dalam kolom secara vertikal */
    align-items: flex-start;
    /* Menyusun item di awal kolom */
    justify-content: flex-end;
    /* Menyusun item di akhir kolom */
    align-items: center;
    /* Menyusun item di akhir kolom */
    margin-bottom: 20px;
    /* Margin bawah untuk kolom */
}

/* Gaya gambar di dalam kolom */
.kotak img {
    border-radius: 50%;
    /* Membuat gambar berbentuk lingkaran */
    position: relative;
    /* Posisi relatif untuk gambar */
}

/* Gaya judul di dalam FOOTER */
.FOOTER h4 {
    font-size: 14px;
    /* Ukuran font untuk judul */
    padding-bottom: 20px;
    /* Padding bawah untuk judul */
    position: relative;
    /* Posisi relatif untuk judul */
}

/* Gaya paragraf di dalam FOOTER */
.FOOTER p {
    font-size: 13px;
    /* Ukuran font untuk paragraf */
    margin: 0 0 8px 0;
    /* Margin untuk paragraf */
    position: relative;
    /* Posisi relatif untuk paragraf */
}

/* Gaya tautan di dalam FOOTER */
.FOOTER a {
    font-size: 13px;
    /* Ukuran font untuk tautan */
    text-decoration: none;
    /* Menghilangkan garis bawah pada tautan */
    color: var(--warna2);
    /* Warna teks untuk tautan */
    margin-bottom: 10px;
    /* Margin bawah untuk tautan */
    position: relative;
    /* Posisi relatif untuk tautan */
    transition: all 5s ease;
    /* Transisi halus untuk perubahan posisi gambar */
}

/* Mengubah warna tautan saat footer di-hover */
.FOOTER:hover a {
    color: var(--warna0);
    /* Mengubah warna teks link saat footer di-hover */
}


/* Gaya ikon di dalam kolom */
.kotak .icon {
    font-size: 20px;
    /* Ukuran font untuk ikon */

}